body {
    color: orangered;
    background-color: black;
    text-shadow: 0.1em 0.1em 0.15em black;
}
div {
    text-align: center;
}
tr a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(181, 220, 255);
}
tr a:hover {
    background-color: black;
}
table {
    position: fixed;
    z-index: 2;
    background-color: grey;
    top: 0%;
    left: 0%;
    width: 100%;
}