a {
    color: #00ffd5; /* Cambia el color del texto del enlace a rojo */
    text-decoration: none; /* Quita el subrayado del enlace */
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}