body{
    color: aqua;
    text-shadow: 0.1em 0.1em 0.15em black;
}
div {
    font-size: large;
}
.Inicio{
    color: white;
}
.Tierra {
background-color: burlywood;
}
.Veneno {
background-color: blueviolet;
}
.Hada {
background-color: pink;
}
.Eléctrico {
background-color: yellow;
}
.Planta {
background-color: rgb(136, 192, 134);
}
.Fuego {
background-color: red;
}
.Volador {
background-color: cornflowerblue;
}
.Acero {
background-color: grey;
}
.Agua {
background-color: blue;
}
.Fantasma {
background-color: darkmagenta;
}
.Bicho {
background-color: green;
}
.Psíquico {
background-color: fuchsia;
}
.Dragón {
background-color: orangered;
}
.Siniestro {
background-color: rgb(25, 41, 41);
}
.Lucha {
background-color: rgb(238, 145, 69);
}
.Normal {
background-color: rgb(252, 143, 104);
}
.Hielo {
background-color: rgb(215, 250, 250);
}
.Reserva {
    color: rgb(255, 136, 0);
}